*.sam
*.index
*.o
*.fq
*.fastq
*.bam
*.pyc
*.paired
*.cyplog
*.discard
*.sublime-*
*.lp
*.sol
*.pickle
sftp-config.json
data/*
notebook/*
gurobi.log
database/output
resources/old_genes/
python/deez
cypiripi-ismb
README.html
aldy.egg-info
*/.ipynb_checkpoints/*
.mypy_cache
.__pycache__
.vscode
.DS_Store
temp
.coverage
.python-version
*.aldy
*.aldylog
docs/_*
*.log
Untitled*
new_defs/*
aldy_old/*
scripts
aldy/indelpost/*.c
build/*
/_*
