include *.rst
include aldy/resources/*.rst
include aldy/resources/genes/*.yml
include aldy/resources/profiles/*.yml
include aldy/tests/resources/*.json
include aldy/tests/resources/*.bam
include aldy/tests/resources/*.bai
include aldy/tests/resources/*.expected
include aldy/tests/resources/*.yml
include aldy/tests/resources/*.profile
include aldy/tests/resources/*.hg38
include aldy/tests/resources/*.vcf
include aldy/tests/resources/*.gz
include aldy/tests/resources/*.tbi
include aldy/indelpost/*.pyx
include aldy/indelpost/*.pxd
include aldy/indelpost/ssw.h
include aldy/indelpost/sse2neon.h
